
/* ******************** */
/* Contact Form Section */
/* ******************** */
.contact-page {
    padding: 25px;
}

.contact_button--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 1536px;
}

.contact form input,
.contact form textarea,
.contact form select,
.contact form option {
    gap: 25px;
    padding: 12.5px;
    margin-bottom: 15px;
    border: 1px solid var(--clr-light);
    background: var(--clr-light);
    color: var(--clr-dark);
    field-sizing: content;
}

.contact form textarea {
    min-height: 7rem;
}

.contact form input:focus,
.contact form textarea:focus {
    border: 1px solid var(--clr-grey);
    outline: none;
}

/* the name input boxes  */
/* Container for the name input and label */
.name-input-container {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.email-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70.5%;
}

.tour_email-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.subject-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70.5%;
}

/* .tickets-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

.security-textbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70.5%;
}

.select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70.5%;
}


#issue-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70.5%;
}

.contact form label {
    color: var(--clr-light);
    padding: 5px 5px 5px 0;
    width: 100%;
}

.contact form .required {
    color: var(--clr-red);
}

/* the name input boxes  */
#first_name,
#last_name {
    width: 100%;
    /* Use 100% to fill the container width */
}

/* the email input box */
#email {
    width: 100%;
}

#tour_email {
    padding: 10px;
    width: 100%;
}


/* the subject input box */
#subject {
    width: 30%;
}

#tickets {
    padding: 10px;
    width: 100%;
}

/* the message textarea */
#security {
    width: 100%;
    resize: none;
}

#description {
    width: 100%;
    resize: none;
}

#group {
    width: 100%;
}

#issue {
    width: 100%;
}

/* container for the submit btn */
.contact .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.submit-btn button {
    width: 250px;
}

.tour_submit-btn {
    width: 100%;
}

.contact .btn {
    margin-bottom: 25px;
}
