body {
    overflow-x: hidden;
}

#polina {
    text-transform: none;
    font-family: 'Sentient', serif;
    font-weight: 100;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(171, 0, 0);
    color: var(--clr-light);
    padding: 2rem;
    width: 46%;
    margin: 2rem;
    float: right;
    font-size: 1.2rem;
}


#polina h4,
p,
h2 {
    width: 100%;
    padding: 6px;
    text-transform: none;
    font-family: 'Sentient', serif;
    color: #ffffff;
}

h1,
h2,
h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 0;
}

h2 {
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 0;
}

.levi {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}

.member-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.indie_button--container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.indie_btn {
    background-color: var(--clr-red);
    color: var(--clr-light);
    cursor: pointer;
    padding: 13px;
    width: 200px;
    font-weight: 600;
    transition: all 0.3s;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    gap: 10px;
}

.indie_btn:hover {
    background: var(--clr-dark-red);
   color: var(--clr-light);
}

.indie_title {
    text-align: center;
    font-family: 'Sentient', serif;
    font-size: 2.50rem;
    text-transform: uppercase;
    padding: 3rem;
    color: var(--clr-light);
    line-height: 3rem;
    font-weight: 500;
}

@media screen and (max-width: 650px) {
    .levi {
        display: flex;
        flex-direction: column;
    }

    .indie_button--container {
        display: flex;
        flex-direction: column;
    }

    #polina {
        width: 420px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width: 450px) {
    .levi {
        display: flex;
        flex-direction: column;
    }

    .indie_button--container {
        display: flex;
        flex-direction: column;
    }

    #polina {
        width: 420px;
        align-items: center;
        justify-content: center;
    }

}