.list{
    columns: 300px;
}

.list img{
    width: 100%;
    margin-bottom: 1em;
    object-fit: cover;
    /* filter: grayscale(); */
}

.testbtn{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.testbtn button{
    background: red;
    padding: 2.5rem;
    cursor: pointer;
}

.testbtn button:hover{
    background: darkred;
}

#test1{
    display: none;
}

#test2{
    display: none;
}
#test3{
    display: none;
}
#test4{
    display: none;
}
#test5{
    display: none;
}